<!-- I blame Uday -->
<!DOCTYPE html>
<html>
	<head>
		<title>Re-App</title>

		<script>
			var allItems = <%= allItems %>;
		</script>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
		<!-- iHover -->
		<link href="styles/ihover.css" rel="stylesheet">

		<!-- Mah Bootstrap -->
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!-- Local Links -->
		
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<link rel="stylesheet" type = "text/css" href = "style.css">



		<script src="main.js" type="text/javascript"></script>

	</head>
	<body>
	<div class="Ralph">
	<div class="navbar navbar-inverse navbar-fixed-top hat">
		<div class ="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				</button>
				<button class="navbar-brand navBarItem home"><span class="glyphicon glyphicon-home"></span></button>
			</div>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav tttttop">
				<li><button type="button" class="navBarItem score"> <%= currentScore%></button></li>
				<li><button type="button" class="navBarItem proPic">Profile Pic</button></li>
				<li><button type="button" class="navBarItem name"> <%= displayName %></button></li>
				<li><button type="button" class="navBarItem edit">Edit Account</button></li>
			</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<div class="container-fluid everything">
		<div class="row bod">
			<div class="col-sm-3 col-md-2">
				<div class="col-sm-3 col-md-2 sidebar sidebarBod">
				<img src="reapp-logo_grayscale.png" id="logo">
					<ul class="nav nav-sidebar sidebar-items">
						<li class="active"><button type="button" class="menuItem recycle recyclez">Recycle</button></li>
						<li class="active"><button type="button" class="menuItem reuse reusez">Reuse</button></li>
						<li class="active"><button type="button" class="menuItem friends friendsz">Friends</button></li>
						<li class="active"><button type="button" class="menuItem bin binz">Recycle bin</button></li>
						<li class="active"><button type="button" class="menuItem profile profilez">Profile</button></li>
						<li class="active"><button type="button" class="menuItem leaderboard leaderboardz">Leaderboard</button></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9 col-md-10 frodo">

<!--Here is the Main Page -->

				<div class="page main" >
					<div class="container-fluid">
						<!-- Main jumbotron for a primary marketing message or call to action -->
						<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
							<h2>Body</h2>
							<p>Hello <%= givenName %>, Welcome to Re-App!</p>
							<p>So far, <%= currentUsers%> have recycled <%= currentItems%> Items!!!</p>
							<p>Im in mah tummy</p>
							<p id="typeOne">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
							<p id="typeTwo">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
							<p id="typeThree">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
							<p id="typeFour">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
							<div id="chart"></div>
							<div class ="welcome"></div>
						</div>
					</div>
				</div>

<!--Here is the Recycle Page -->

				<div class="page recycle" id="full">
					<div class="container-fluid">
					<!-- Main jumbotron for a primary marketing message or call to action -->
						<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
							<h1>Recycle</h1>
							<p>This page allows users to add to their recycle bin</p>
							<div class="row picSpace">
								<div class="col-sm-4">
								    <!-- normal -->
								    <div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/glass/bottle.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Glass</h3>
								        </div>
								        </a>
								    </div>
								    <!-- end normal -->
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Plastic/mixed-plastic.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Plastic</h3>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Paper/sheet.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Paper</h3>
								        </div>
								        </a>
								    </div>
								</div>
							</div>


<!--Glass -->
							<div class = "row subPicSpace subGlass">
								<div class = "row subGlassOne">
									<div class="col-sm-4"> <!--First picture -->
										<div class="ih-item square effect3 bottom_to_top">
									    	<a href="#">
									        <div class="img">
									        	<img src="Large_Icons/glass/bottle.jpg" width="100%" height="100%" />
									        </div>
									        <div class="info">
									            <h3>Clear Bottle</h3>
									        </div>
									        </a>
									    </div>
									</div>
									<div class="col-sm-4"><!-- Second picture -->
										<div class="ih-item square effect3 bottom_to_top">
									    	<a href="#">
									        <div class="img">
									        	<img src="Large_Icons/glass/bottle.jpg" width="100%" height="100%" />
									        </div>
									        <div class="info">
									            <h3>Brown Bottle</h3>
									        </div>
									        </a>
									    </div>
									</div>
									<div class="col-sm-4"><!-- Third picture -->
										<div class="ih-item square effect3 bottom_to_top">
									    	<a href="#">
									        <div class="img">
									        	<img src="Large_Icons/glass/bottle.jpg" width="100%" height="100%" />
									        </div>
									        <div class="info">
									            <h3>Green Bottle</h3>
									        </div>
									        </a>
									    </div>
									</div>

								</div>

							</div>


<!-- Plastic-- >
							<div class = "row subPicSpace subPlastic">

							</div>


<!-- Paper-->
							<div class = "row subPicSpace subPaper">

							</div>









							<div class="row picSpace">
								<div class ="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Batteries/car-battery.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Battery/Bulb</h3>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/metal/mixed-metal.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Metal</h3>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Cloth/fabric-pieces.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Cloth</h3>
								        </div>
								        </a>
								    </div>
								</div>
							</div>



















							<div class="row picSpace">
								<div class ="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/electronics/computer.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Electronics</h3>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/garage/tire.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Garage</h3>
								        </div>
								        </a>
								    </div>
								</div>
								<div class = "col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/other.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Other</h3>
								        </div>
								        </a>
								    </div>
								</div>
							</div>




















						</div>
					</div>
				</div>

<!--Here is the Reuse Page -->

				<div class="page reuse" id="full">
					<div class="container-fluid">
						<!-- Main jumbotron for a primary marketing message or call to action -->
						<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
							<h2>Reuse</h2>
							<p>This page lets users add to their reuse statistics</p>
							<div class="row picSpace">
								<div class="col-sm-4">
								    <!-- normal -->
								    <div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/glass/bottle.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Glass</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								    <!-- end normal -->
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Plastic/mixed-plastic.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Plastic</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Paper/sheet.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Paper</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
							</div>
							<div class="row picSpace">
								<div class ="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Batteries/car-battery.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Battery/Bulb</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/metal/mixed-metal.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Metal</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/Cloth/fabric-pieces.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Cloth</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
							</div>
							<div class="row picSpace">
								<div class ="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/electronics/computer.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Electronics</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
								<div class="col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/garage/tire.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Garage</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
								<div class = "col-sm-4">
									<div class="ih-item square effect3 bottom_to_top">
								    	<a href="#">
								        <div class="img">
								        	<img src="Large_Icons/other.jpg" width="100%" height="100%" />
								        </div>
								        <div class="info">
								            <h3>Other</h3>
								            <p>Description goes here</p>
								        </div>
								        </a>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>

<!--Here is the Friends Page -->

				<div class="page friends" id="full">
					<div class="container-fluid">
					<!-- Main jumbotron for a primary marketing message or call to action -->
					<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
						<h2>Friends</h2>
						<p>This page will display facebook friends and ther scores</p>
					</div>
					</div>
				</div>

<!--Here is the Recycle Bin Page -->

				<div class="page bin" id="full">
					<div class="container-fluid">
						<!-- Main jumbotron for a primary marketing message or call to action -->
						<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
							<h2>Recycle Bin</h2>
							<p>Here we will display the recycle bin</p>
						</div>
					</div>
				</div>

<!--Here is the Profile Page -->

				<div class="page profile" id="full">
					<div class="container-fluid">
						<!-- Main jumbotron for a primary marketing message or call to action -->
						<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
							<h2>Profile</h2>
							<p>Here I want to show the profile information</p>
						</div>
					</div>
				</div>

<!--Here is the LeaderBoard Page -->

				<div class="page leaderboard" id="full">
					<div class="container-fluid">
						<!-- Main jumbotron for a primary marketing message or call to action -->
						<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 center">
							<h2>LeaderBoard</h2>
							<p>Here I just want to display the leader boards</p>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>
		<script src="bubblechart.js" type="text/javascript"></script>

		</body>
	</html>